<div class="col-lg-12">
    <div class="contact_form" style="margin-top: 200px;">
        <div class="contact_info_title">City</div>
        <form action="#" class="comment_form" [formGroup]='searchForm'>
            <div>
                <div class="form_title">search by city</div>
                <input type="text" class="comment_input" formControlName='city' required="required">
            </div>
           
        
        
            
            
            
           
           
          
           
            <div>
                <button type="submit" class="comment_button trans_200" (click)="search()">search</button>
            </div>
        </form>
    </div>
</div>

