<div class="contact_info_container" style="margin-top: 200px;">
    <div class="container">
        <div class="row">

            <!-- Contact Form -->
            <div class="col-lg-12">
                <div class="contact_form">
                    <div class="contact_info_title">Add User</div>
                    <form action="#" class="comment_form" #userForm='ngForm' (ngSubmit)='addUser()'>
                        <div>
                            <div class="form_title">firstname</div>
                            <input type="text" class="comment_input" [(ngModel)]='user.firstname' [ngModelOptions]="{standalone: true}" required="required">
                        </div>
                        <div>
                            <div class="form_title">lastname</div>
                            <input type="text" class="comment_input" [(ngModel)]='user.lastname' [ngModelOptions]="{standalone: true}" required="required">
                        </div>
                        <div>
                            <div class="form_title">email</div>
                            <input type="email" class="comment_input" [(ngModel)]='user.email' [ngModelOptions]="{standalone: true}" required="required">
                        </div>
                        <div>
                            <div class="form_title">Tel</div>
                            <input type="number" class="comment_input" [(ngModel)]='user.tel' [ngModelOptions]="{standalone: true}" required="required">
                        </div>
                       
                       
                        <div>
                            <button type="submit" class="comment_button trans_200">Add user</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Contact Info -->
          
        </div>
    </div>
</div>




