<div class="course" style="margin-top: 200px;">
    <div class="course_image"><img src="assets/images/course_1.jpg" alt=""></div>
    <div class="course_body">
        <h3 class="course_title"><a href="course.html"></a>{{user.firstname}}</h3>
        <div>{{course.trainer}}</div>
        <div class="course_text">
            <p>{{course.description  }}</p>
        </div>
    </div>
    <div class="course_footer">
        <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
            <div class="course_info">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <span></span>
            </div>
            <div class="course_info">
            
               
            </div>
            <div >{{course.price}} TND</div>
        </div>
    </div>
</div>
